// Bootstrap overrides
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700&display=swap');

$primary: #273557;
$secondary: #586586;
$success: #79aa7e;
$body-bg: $primary;

* {
	box-sizing: border-box;
}

::selection {
	background: $secondary;
}
::-moz-selection {
	background: $secondary;
}

html,
body {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #fff !important;
	min-height: 100vh;
}

p {
	margin: 0 !important;
}

h1.hero-title {
	font-family: 'Bitter';
	font-weight: 800;
	font-size: 5rem;
}

.btn-success.btn-landing,
.btn-secondary.btn-landing {
	padding: 20px 80px;
	min-width: 100%;
	font-size: 1.1rem;
	font-weight: 400;
	margin-top: 25px;
}

.btn-success {
	color: #fff !important;
}

@media only screen and (max-width: 1200px) {
	h1.hero-title {
		font-size: 64px;
	}

	.btn-success,
	.btn-secondary {
		margin-top: 35px;
		padding: 15px 70px;
		min-width: 200px;
	}

	.btn-success {
		margin-right: 15px;
	}
}

@media only screen and (max-width: 500px) {
	.hero-text {
		padding: 0 5px;
	}

	h1.hero-title {
		font-size: 3rem;
		font-weight: 700 !important;
	}
}

@media only screen and (max-width: 350px) {
	h1.hero-title {
		font-size: 2.5rem;
	}
}

.description {
	font-size: 1.5rem;
}

// Component Styles
@import './navigation.scss';
@import './hero.scss';
@import './about.scss';
@import './contact.scss';

// Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
