$green: #79aa7e;

.project {
	gap: 80px;
	margin-top: 40px;
}

.project-buttons {
	display: flex;
	gap: 16px;
}

.btn-secondary.btn-project {
	display: flex;
	align-items: center;
	height: 40px;
}

.project-text {
	font-size: 0.9rem;
	font-weight: 300;
}

.attribution-text {
	color: #e3e3e3;
}

.attribution-text:hover {
	color: white;
}

.project-badge {
	margin-right: 16px;
}

.project-link {
	text-decoration: none;
	color: $green;
	font-weight: 500;
	margin-right: 10px;
}

.project-github {
	color: #e3e3e3;
	margin: 0 5px 5px 10px;
}

.project-github:hover {
	color: #e3e3e3;
}

.project-link:hover {
	color: $green;
	text-decoration: underline;
}

.project-heading {
	font-size: 2.1rem;
}

.project-links-box {
	display: flex;
	margin: 0 auto;
	align-items: center;
	justify-content: center;
	width: 100%;
	border-radius: 10px;
	padding: 5px 10px;
	margin-top: 15px;
}

.project-img {
	height: 300px;
	max-width: 500px;
	margin-bottom: 30px;
	border-radius: 10px;
	border: 1px solid #fff;
}

.movies-app-img {
	background: url('../assets/movie-booking-thumb.png') no-repeat left/cover;
}

.physiocareer-material-img {
	background: url('../assets/physiocareer-material-thumb.png') no-repeat
		left/cover;
}

.physiocareer-nextjs-img {
	background: url('../assets/physiocareer-nextjs-thumb.png') no-repeat
		left/cover;
}

.kritiyoga-img {
	background: url('../assets/kriti-yoga-thumb.png') no-repeat left/cover;
}

.rftb-gh-img {
	background: url('../assets/github-finder-thumb.png') no-repeat left/cover;
}

.project-badges {
	margin-bottom: 16px;
}

@media only screen and (min-width: 1200px) {
	.project-links-box {
		justify-content: start;
	}

	.project-content {
		flex-grow: 1;
		margin-bottom: 20px;
		position: relative;
	}

	.project-footer {
		position: absolute;
		bottom: 20px;
	}
}

@media only screen and (max-width: 1200px) {
	.project {
		gap: 40px;
	}

	.project-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.project-text {
		max-width: 500px;
	}

	.project-img {
		margin-bottom: 0px;
	}

	.project-badges {
		margin-bottom: 0px;
	}
}
